<div class="container-fluid" id="service">
    <div class="row align-items-center text-center justify-content-center" style="min-height: 50vh;">
        <div class="col">
            <h1 class="fw-bold text-light">{{ "HeadingName.Service" | translate }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center text-center justify-content-center" style="min-height: 30vh;">
        <div class="col">
            <p class="h3 fw-bold mb-2">{{ "HeadingName.Service" | translate }}</p>
            <p class="">
                บริการให้คำแนะนำปรึกษาและรับออกแบบ บ้านพักอาศัย <br>
                อาคารสำนักงาน อพาร์ทเม้นท์ คอนโด โรงแรม รีสอร์ท โรงงาน โกดังสินค้า และ อาคาร <br>
                ทุกประเภทด้วยทีมงานมืออาชึพจาก
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>
                    <b>รับเหมาก่อสร้าง</b>
                    <div class="text-muted">Construction</div>
                </h5>
                <p>
                    รับเหมาก่อสร้างบ้าน ออกแบบบ้าน รับเหมาต่อเติม
                    และปรับปรุงอาคาร พร้อมตกแต่งภายในครบวงจร
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>
                    <b>รับเหมางานระบบ</b>
                    <div class="text-muted">System Construction</div>
                </h5>
                <p>
                    รับเหมาติดตั้งงานระบบ เดินสายไฟ ติดตั้งกล้องวงจรปิด
                    เครื่องใช้ไฟฟ้า และระบบสาธารณูปโภค
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>
                    <b>รับติดตั้งระบบโทรคมนาคม</b>
                    <div class="text-muted">Telecommunication</div>
                </h5>
                <p>รับติดตั้งระบบโทรคมนาคมต่าง เสาสัญญาณโทรศัพท์ 3G 4G</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>
                    <b>รับตกแต่งภายใน</b>
                    <div class="text-muted">Interior Design</div>
                </h5>
                <p> รับเหมาก่อสร้างบ้าน ออกแบบบ้าน รับเหมาต่อเติม
                    และปรับปรุงอาคาร พร้อมตกแต่งภายในครบวงจร</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>
                    <b>เฟอร์นิเจอร์บิวท์อิน</b>
                    <div class="text-muted">Built-in furniture</div>
                </h5>
                <p>
                    รับเหมาติดตั้งงานระบบ เดินสายไฟ ติดตั้งกล้องวงจรปิด
                    เครื่องใช้ไฟฟ้า และระบบสาธารณูปโภค
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3">
                <h5>
                    <b>การบริหารโครงการ</b>
                    <div class="text-muted">Project Management</div>
                </h5>
                <p>
                    รับเหมาก่อสร้างบ้าน ออกแบบบ้าน รับเหมาต่อเติม
                    และปรับปรุงอาคาร พร้อมตกแต่งภายในครบวงจร
                </p>
            </div>
        </div>
    </div>
</div>