<div class="container-fluid" id="header">
    <div class="row align-items-center text-center justify-content-center" style="min-height: 100vh;">
        <div class="col">
            <h1 class="text-uppercase text-light"> {{ "CompanyName" | translate }} </h1>
            <span class="sub-text d-block text-light">
                {{ "Service.Construction" | translate }} / {{ "Service.System" | translate }} / {{
                "Service.Telecommunication" | translate }}
            </span>
        </div>
    </div>
</div>

<div id="content">

</div>