<navbar class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">{{ "CompanyName" | translate }}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <span>{{ "Navbar.Home" | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus" routerLinkActive="active">
            <span>{{ "Navbar.AboutUs" | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="project" routerLinkActive="active">
            <span>{{ "Navbar.Project" | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customer" routerLinkActive="active">
            <span>{{ "Navbar.Customer" | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">
            <span>{{ "Navbar.Contact" | translate }}</span>
          </a>
        </li>
        <li class="nav-item">
          <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
              [selected]="language === translate.currentLang">
              {{ language }}
            </option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</navbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="row">
    <div class="col-12">
      <div class="text-center p-3">
        <span class="text-light">
          <span> Copyright </span>
          <span class="text-light"> ©ProbityInterSupply.com </span>
          <span> All Rights Reserved. </span>
        </span>
      </div>
    </div>
  </div>
</footer>