#contact {
    min-height: 50vh;
    /* background: url("../../../assets/image/wallpaper/housenew.jpg") no-repeat center center fixed; */
    background-color: grey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}