<div class="m-3">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7756.2466885404865!2d100.6913035!3d13.5892755!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDM1JzIxLjYiTiAxMDDCsDQxJzM5LjIiRQ!5e0!3m2!1sth!2sth!4v1531067936211"
    width="100%" height="315" frameborder="0" allowfullscreen></iframe>
</div>
<div class="container low-padding">
  <div class="row justify-content-center text-light">
    <div class="col-4 col-md-3 col-lg-3">
      <div>
        <a class="a-link" routerLink=""> หน้าหลัก </a>
      </div>
      <div>
        <a class="a-link" routerLink="aboutus"> เกี่ยวกับเรา </a>
      </div>
      <div>
        <a class="a-link" routerLink="project"> ผลงาน </a>
      </div>
      <div>
        <a class="a-link" routerLink="customer"> ลูกค้า </a>
      </div>
      <div>
        <a class="a-link" routerLink="contact"> ติดต่อ </a>
      </div>
    </div>
    <div class="col-7 col-md-3 col-lg-3">
      <p class="head-text-footer">บริการของเรา</p>
      <li>รับเหมาก่อสร้าง</li>
      <li>รับเหมางานระบบ</li>
      <li>รับติดตั้งโทรคมนาคม</li>
      <li>รับบริหารโครงการ</li>
    </div>
    <div class="col-11 col-md-3 col-lg-3">
      <p class="head-text-footer">เกี่ยวกับเรา</p>
      <p>
        ที่อยู่ : เลขที่ 99/174 หมู่บ้าน ปริญญดา ถ.คลองขุด ต.บางพลีใหญ่
        อ.บางพลี จ.สมุทรปราการ 10540
      </p>
    </div>
    <div class="col-11 col-md-3 col-lg-3">
      <p class="head-text-footer">ติดต่อเรา</p>
      <li>Tel: (+66) 086-875-0608</li>
      <li>Email: Probity@hotmail.com</li>
      <li>Facebook</li>
      <li>Line</li>
    </div>
  </div>
</div>